<div class="container space_from_top">
  <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home Page", "static_pages/index" %><span class="sr-only">(current)</span></li>
        <li><%= link_to "About", "static_pages/about" %></li>
        <li><%= link_to "Contact", "/static_pages/contact" %></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
</div>
