<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h2>Name</h2>
    </div>
    <div class="col-md-2">
      <h2>Description</h2>
    </div>
    <div class="col-md-2">
      <h2>Image Url</h2>
    </div>
    <div class="col-md-2">
      <h2>Color</h2>
    </div>
    <div class="col-md-2">
      <h2>Average Rating</h2>
    </div>
  </div>
</div>

<br>

<div class="container space_bottom">

   <% cache(cache_key_for_products) do %>
    <%= render @products %>
   <% end %>

  <br>
<%= link_to 'New Product', new_product_path %>
</div>

<br>
